# macOS
.DS_Store

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# Python
backend/venv/
backend/__pycache__/
backend/.env

client/node_modules/
client/package-lock.json
server/package-lock.json
server/node_modules/
